<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form th:action="addCandidate" th:method="post" th:object="${candidate}">
  <label for="id">enter an id  : </label>
  <input type="number" id="id" th:field="*{id}"><br>

  <label for="firstName">enter first name  : </label>
  <input type="text" id="firstName" th:field="*{firstName}"><br>

  <label for="lastName">enter lastname  : </label>
  <input type="text" id="lastName" th:field="*{lastName}"><br>

  <label for="cin">enter cin  : </label>
  <input type="text" id="cin" th:field="*{cin}"><br>

  <label for="phoneNumber">enter phone number  : </label>
  <input type="text" id="phoneNumber" th:field="*{phoneNumber}"><br>

  <label for="facebookUrl">enter facebookUrl  : </label>
  <input type="text" id="facebookUrl" th:field="*{facebookUrl}"><br>

  <button type="submit">Submit</button>

</form>

</body>
</html>