<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Candidate</title>
</head>
<body>

<h1>Candidate page</h1>

<form th:object="${candidate}">
  <label for="id">id : </label>
  <input type="number" id="id" th:field="*{id}"><br>

  <label for="firstName">First name : </label>
  <input type="text" id="firstName" th:field="*{firstName}"><br>

  <label for="lastName">Last name : </label>
  <input type="text" id="lastName" th:field="*{lastName}"><br>

  <label for="phoneNumber">Phone number : </label>
  <input type="text" id="phoneNumber" th:field="*{phoneNumber}"><br>

  <label for="cin">Cin : </label>
  <input type="text" id="cin" th:field="*{cin}"><br>

  <label for="facebookUrl">Facebook URL : </label>
  <input type="text" id="facebookUrl" th:field="*{facebookUrl}"><br>

  <button type="submit">Update</button>
  <button type="reset" onclick="location.href='/candidates'">Return to all candidates</button>
</form>

</body>
</html>