div{
    margin: 0;
    padding: 1px;
}

.hoursList{
    list-style: none;
    display: flex;
    flex-direction: column;
}

.hourItem{
    margin-top: 8px;
    border: solid 1px black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.info{
    display: flex;
}

.description{
    color: darkslategrey;
}

/*debugging
div{
    border: solid 1px red;
}
p{
    border: solid 1px rebeccapurple;
}*/