.sessionContainer{
    border: solid 1px lightslategray;
    margin-bottom: 5px;
    padding: 0 8px;
}
.description{
    display: flex;
    justify-content: space-around;
}
.sessionContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*
.view{
    padding: 0 8px;
    height: 30px;
    justify-self: center;
}

.searchBar{
    width: 70%;
}

.search{
    margin-bottom: 8px;

    display: flex;
    justify-content: center;
}
*/

